
/*Временные стили*/
/*div {
  border: 1px solid red;
}

section {
  border: 1px solid rgb(17, 0, 255);
}*/
/*Временные стили_end*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Настройки */
.link {
  text-decoration: none;
}

.link_blue {
  color: #2f80ed;
}

.link_arrow-right::after{
  content: " \2192";
}

.link_theme-dark {
  color: #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background: #f2f2f2;
}

/*#1 Logo*/

.logo {
  width: 183px;
  height: 32px;
 }

.logo__header_place {
  margin: 30px 0 0 64px;
  z-index: 2;
  position: absolute;
}

/* #2 header__title*/

.header__title {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__h1 {
  width: 730px;
  height: 64px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {

}


.header__main-illustration {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top:64px;
  right: 0;

}



/* SECTION DESCRIPTION*/
.description {
  width: 80%;
  margin: 100px auto;
}

.two-columns {
display: flex;
justify-content: space-between;
}

.two-columns__brief {
  width: 174px;
}
.two-columns__title {
  line-height: 1.2rem;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Section DIGITS*/
.digits {
 display: flex;
 justify-content: center;
 padding: 100px 0;
}
.section__wrap{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.section-title {
  width: 60%;
  text-align: center;
}

.section-title__h2{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}


.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.section-subtitle__h3 {
  margin: 0;
}


.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15rem;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_h3 {
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2rem;
  font-size: 18px;
  font-weight: normal;
}

.table__text-p {
  margin: 20px 0 0;
}

/*Section FEYNMAN*/
.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 790px;
  padding-top: 100px;
  background: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}
.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: normal;
  min-width: 648px;
}
.feynman__title_h2 {
  margin: 0;
  text-align: center;
}
.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
line-height: 51px;
font-size: 36px;
font-weight: normal;
position: absolute;
top: 50%;
right: 48px;
}




/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  /*color: white;*/
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

/*Section KAUFMAN*/
.kaufman {
  background-color: #1f1f1f;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  rigth: -210px;
  width: 877px;
  height: 877px;
}

.section-title-h2 {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle-h3 {
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__heading_h4 {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme-dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* FOOTER */
.footer {
color: #f2f2f2;
background-color: #1f1f1f;
margin:auto;
position: relative;
}

.footer__columns {
  width: 90%;
  margin: auto;
  padding: 60px 0 40px;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px;

}
.footer__links-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 10px 0 0;
}
.footer__social-icon-fb {
  background-image: url('../images/facebook_color_white.svg');
}

.footer__social-icon-vk {
  background-image: url('../images/vk_color_white.svg');
}

.footer__social-icon-inst {
  background-image: url('../images/instagram_color_white.svg');
}

