
/*Временные стили*/
div {
  border: 1px solid red;
}

section {
  border: 1px solid rgb(17, 0, 255);
}
/*Временные стили_end*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Настройки */
.link {
  color: #2f80ed;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background: #f2f2f2;
  border: 1px solid black;
}
/*#1 Logo*/

.logo {
  width: 183px;
  height: 32px;
  position: absolute;

}

.logo__header_place {
  margin: 30px 0 0 64px;
  z-index: 2;
}

/* #2 header__title*/

.header__title {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__h1 {
  width: 730px;
  height: 64px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {

}
.header__link::after{
  content: " \2192";
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top:64px;
  right: 0;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


/* SECTION DESCRIPTION*/
.description {
  width: 80%;
  margin: 100px auto;
}

.two-columns {
display: flex;
justify-content: space-between;
}

.two-columns__brief {
  width: 174px;
}
.two-columns__title {
  line-height: 1.2rem;
  font-size: 18px;
  font-weight: normal;
  color:  #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Section DIGITS*/
.digits {
 margin: auto;
}
.section__wrap{
  display: block;
}
.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.section-title {
  width: 60%;
  text-align: center;
}
.section-subtitle {
  width: 60%;
  text-align: center;
}

.table__cell {
  width: 250px;
}
