
/*Временные стили*/
div {
  border: 1px solid red;
}
/*Временные стили_end*/
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
 /* position: relative;*/
}
/*Logo*/
.logo {
  width: 183px;
  height: 32px;
  /*position: absolute;*/

}
.logo__header_place {
  margin: 30px 0 0 64px;
}
/*Logo__END*/

.header__title {
  width: 730px;
}
.header__h1 {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}



.header__link {

}
.header__link::after{
  content: " \2192";
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
